<h1>
  Your profile <span>{{userName | async}}</span>
</h1>
<h3>Edit Name</h3>
<input type="text" id="userName" name="userName" (change)="onChange()"/>
<h3>Photo</h3>
<img src="{{imageSrc}}" height="120px" width="90px"/>
<br/>
<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<br/>
<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
  Upload
</button>

<!-- <input id="photo" type="file" /><br/>
<button type="button" class="btn btn-success btn-s" (click)="upload()">
  Upload
</button> -->

