<h1>
  Your profile <span>{{userName | async}}</span>
</h1>
<h3>Edit Name</h3>
<input type="text" id="userName" name="userName" (change)="onChange()"/>
<h3>Photo</h3>
<img src="{{imageSrc}}" height="120px" width="90px"/>
<br/>
<input  #fileselctor type="file" name="photo" ng2FileSelect [uploader]="uploader" />
<br/>
<!-- <button type="button" class="btn btn-success btn-s" (click)="fileselctor.click()" (change)="uploader.uploadAll()">
  Upload
</button> -->

<button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
  Upload 2
</button>

<ul>
  <li *ngFor="let product of products | async">
      <pre>{{ product.Name }}</pre>
  </li>
</ul>


<!-- <input id="photo" type="file" /><br/>
<button type="button" class="btn btn-success btn-s" (click)="upload()">
  Upload
</button> -->

