<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>SB Admin BS4 Angular5</h1>          

            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">                    
                    <input type="text" formControlName="firstName" placeholder="First Name" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                    </div>
                </div>
                <div class="form-group">                    
                    <input type="text" formControlName="lastName" placeholder="Last Name" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                    </div>
                </div>
                <div class="form-group">                    
                    <input type="text" formControlName="username" placeholder="User Id" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div>
                </div>
                <div class="form-group">                   
                    <input type="password" formControlName="password" placeholder="Password" class="form-control input-underline input-lg" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <div class="form-group">
                        <button [disabled]="loading" class="btn rounded-btn">Register</button>                  
                    <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
                </div>
            </form>

            
        </div>
    </div>
</div>
